
      html {
        font-size: 62.5%;
      }
      * {
        margin: 0;
        box-sizing: border-box;
        transition: 1s;
        scroll-behavior: smooth;
      }
      body {
        scroll-behavior: smooth;
        background-color: #494848;
        margin: 0 5.2rem;
        font-family: sans-serif;
        overflow-x: hidden;
      }
      body::-webkit-scrollbar {
        display: none;
      }
      :root {
        --primary-color: rgb(14, 95, 95);
        --button-color: rgba(18, 122, 122, 0.929);
        --font-size: 2.6rem;
        --logo-font: 3.4rem;
      }
      .first-page {
        width: 100%;
        height: 95vh;
        background: url("../media/background1.png");
        background-size:100% 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
      }
      .first-page .container1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2%;
      }
      .first-page .container1 header h1 {
        font-size: 4rem;
        font-weight: 700;
        background: linear-gradient(
          to bottom,
          rgb(23, 143, 143) 50%,
          rgb(1, 13, 13)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
      .first-page .container1 nav {
        display: flex;
        /* width: 50%; */
        align-items: center;
        justify-content: space-between;
      }
      .first-page .container1 nav ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .first-page .container1 nav ul a {
        position: relative;
        text-decoration: none;
        font-size: var(--font-size);
        font-weight: 600;
        color: rgb(78, 78, 78);
      }
      .first-page .container1 nav ul a:not(:last-child) {
        margin-right: 4rem;
      }
      .first-page .container1 nav ul a::after {
        content: "";
        position: absolute;
        bottom: -0.2rem; /* Adjust as needed */
        left: 0;
        width: 0;
        height: 0.2rem; /* Adjust as needed */
        background-color: var(--button-color); /* Same color as the text */
        transition: width 0.3s ease;
      }
      .first-page .container1 nav ul a:hover::after {
        width: 100%;
      }

      .first-page .container1 nav #check {
        display: none;
      }
      .first-page .container1 nav label i {
        display: none;
        font-size: 5rem;
        color: var(--button-color);
      }
      .first-page .container1 .nav-opt {
        display: flex;
        /* width: 50%; */
        align-items: center;
        justify-content: space-between;
      }
      .first-page .container1 .nav-opt a:first-child {
        margin: 0 4rem;
        color: var(--primary-color);
        font-size: 2rem;
        font-weight: 600;
      }
      .first-page .container1 .nav-opt a:nth-child(2) {
        margin-right: 4rem;
        color: #fff;
        font-size: 1.9rem;
        font-weight: 550;
        border: none;
        border-radius: 1rem;
        background: var(--button-color);
        text-decoration: none;
        padding: 1.2rem 3rem;
      }
      .first-page .container1 .nav-opt a:nth-child(3) {
        color: var(--button-color);
        font-size: 4.8rem;
      }
      .first-page .container2 {
        position: relative;
        height: auto;
      }
      .first-page .container2 .search-space {
        position: absolute;
        top: 15%;
        left: 19%;
        width: 65%;
      }
      .first-page .container2 .search-space i {
        position: absolute;
        top: 18%;
        left: 3%;
        font-size: 4.2rem;
        color: #3877846d;
      }
      .first-page .container2 .search-space input {
        width: 100%;
        padding: 1.5rem 3rem;
        border-radius: 1.5rem;
        text-indent: 4rem;
        border: 0.3rem solid var(--button-color);
        justify-items: center;
        font-size: var(--font-size);
      }
      .first-page .container2 .search-space input:hover {
        background-color: rgba(43, 143, 163, 0.249);
      }
      .first-page .container2 .search-space input:focus {
        outline: none;
        background-color: rgba(43, 143, 163, 0.249);
      }
      .first-page .container2 .search-space input::placeholder {
        color: rgba(83, 115, 115, 0.214);
        font-weight: 550;
        font-size: var(--font-size);
      }
      .first-page .container2 .content {
        position: relative;
        width: 45%;
        top: 150%;
        left: 30%;
      }
      .first-page .container2 .content p {
        position: relative;
        top: 0%;
        font-size: 3rem;
        font-weight: 550;
        text-transform: capitalize;
        margin-top: 0.5rem;
        color: var(--button-color);
      }
      .first-page .container2 .content a {
        position: relative;
        top: 8rem;
        left: 30%;
        margin-right: 4rem;
        color: #fff;
        font-size: 1.9rem;
        font-weight: 550;
        border: none;
        border-radius: 1rem;
        background: var(--button-color);
        text-decoration: none;
        padding: 2rem 4rem;
      }
      .first-page .image {
        height: 10rem;
        position: absolute;
        bottom: 1%;
        right: 7%;
        height: auto;
        /* overflow: hidden; */
      }
      .first-page .image img {
        width: 39rem;
        animation-name: landimage;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      @keyframes landimage {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(1rem);
        }
      }
      .btn:hover {
        background-color: rgb(11, 87, 83) !important;
      }
      .second-page {
        height: auto;
        background-color: rgb(90, 89, 89);
      }
      .second-page .second-logos {
        height: 20vh;
        background-color: rgb(255, 255, 255);
        z-index: 1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
      }
      .second-page .second-logos .logo {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      /* .second-page .second-logos .logo:first-child::before {
        content: "^";
        display: block;
        position: relative;
        top: -20rem; 
        left: 5rem;
        font-weight: 900;
        font-size: 40rem;
        color: rgb(163, 101, 225);
      } */
      .second-page .second-logos .logo:nth-child(2) h2 {
        font-size: var(--logo-font);
      }
      .second-page .second-logos .logo:nth-child(3) h2 {
        font-size: var(--logo-font);
        color: rgb(0, 106, 255);
      }
      .second-page .second-logos .logo:nth-child(4) h2 {
        font-size: var(--logo-font);
        color: rgb(0, 47, 202);
      }

      .second-page .courses-heading {
        height: 20vh;
        z-index: 0;
        box-shadow: inset 0 0 6px rgb(172, 172, 172);
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        padding-left: 8%;
        z-index: 1;
        position: relative;
      }
      .second-page .courses-heading h1 {
        align-self: center;
        color: var(--primary-color);
        font-stretch: condensed;
        font-size: 4rem;
      }
      .second-page .courses-heading .subs {
        align-self: flex-end;
        padding-right: 3%;
        display: flex;
        align-items: center;
        padding-bottom: 1.5rem;
        gap: 2rem;
        font-size: 1.5rem;
      }
      .second-page .courses-heading .subs .subcheckbox {
        display: flex;
        justify-items: center;
      }
      .second-page .courses-heading .subs > *:not(p) {
        text-decoration: none;
        color: var(--button-color);
        font-weight: bold;
      }
      .second-page .courses-heading .subs a:first-child {
        font-size: 2.4rem;
      }
      .second-page .courses-heading .subs input {
        margin: 0 1rem;
        background-color: #494848;
        scale: 1.5;
      }
      .second-page .popular-courses-contents {
        height: 75vh;
        background-color: #fef6f6;
        display: flex;
        z-index: 0;
        justify-content: space-around;
        align-items: center;
        position: relative;
        padding: 0 13rem;
        gap: 16rem;
        scroll-snap-type: x mandatory;
        overflow-y: auto;
      }
      .second-page .popular-courses-contents::-webkit-scrollbar {
        display: none;
      }
      .second-page .courses-heading .viewmorecourses {
        position: absolute;
        top: 115%;
        right: 11%;
      }
      .second-page .courses-heading .viewmorecourses a {
        color: var(--button-color);
        font-size: 1.6rem;
        font-weight: 600;
        text-decoration: none;
      }
      .second-page .courses-heading .viewmorecourses a::after {
        content: "";
        display: block;
        position: absolute;
        height: 0.05rem;
        width: 100%;
        background-color: rgb(12, 131, 146);
        left: 0;
        bottom: 13%;
      }

      .second-page .courses-heading .nextpagearrow {
        position: absolute;
        top: 125%;
        transform: translateY(-50%);
        right: 1%;
        font-size: 7rem;
        font-weight: 500;
        font-stretch: ultra-condensed;
        color: var(--button-color);
      }
      .second-page .popular-courses-contents .popular-courses {
        position: relative;
        min-width: 28rem;
        max-width: 29rem;
        height: 45rem;
        box-shadow: 5px 5px 5px rgba(188, 188, 188, 0.66);
        background-color: #fff;
        scroll-snap-align: center;
        /* overflow: hidden; */
      }
      .second-page .popular-courses-contents .popular-courses:hover {
        box-shadow: 5px 5px 5px rgb(170, 170, 170);
        transform: translateY(-2%);
      }
      .second-page .popular-courses-contents .popular-courses .tag {
        position: absolute;
        top: 1.5%;
        z-index: 6;
      }
      .second-page .popular-courses-contents .popular-courses .tag a {
        color: white;
        padding: 0.7rem 2rem;
        text-decoration: none;
        background-color: #c71818;
        font-size: 1.1rem;
      }
      .second-page
        .popular-courses-contents
        .popular-courses
        .popular-courses-image {
        width: 100%;
        height: 47%;
      }
      .second-page .popular-courses-contents .popular-courses-image img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: 5;
      }
      .second-page
        .popular-courses-contents
        .popular-courses
        .popular-courses-info {
        margin: 2rem 1.4rem;
        display: grid;
        grid-template-rows: repeat(1fr, 4);
        gap: 0.7rem;
      }
      .second-page
        .popular-courses-contents
        .popular-courses
        .popular-courses-info {
        font-size: 1.5rem;
      }
      .second-page
        .popular-courses-contents
        .popular-courses
        .popular-courses-info
        h3 {
        color: rgb(5, 83, 74);
        font-size: 2rem;
      }
      .second-page
        .popular-courses-contents
        .popular-courses
        .popular-courses-info
        p {
        font-weight: 600;
      }
      .second-page .popular-courses-contents .popular-courses-info div del,
      .second-page .popular-courses-contents .popular-courses-info div price {
        color: #595959;
        margin-right: 1.5rem;
        font-weight: 600;
      }
      .second-page .popular-courses-contents .popular-courses-info div > span {
        color: #be1a1a;
        font-style: italic;
      }
      .second-page .popular-courses-contents .popular-courses-info .logo {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        color: rgb(0, 106, 255);
        font-size: 1.3rem;
        font-weight: 500;
      }
      .second-page .popular-courses-contents .popular-courses-info .ratings i {
        color: rgb(215, 193, 65);
        font-size: 2.4rem;
      }
      .second-page
        .popular-courses-contents
        .popular-courses-info
        .ratings
        span {
        color: rgb(118, 118, 118);
        font-size: 1.5rem;
      }
      .second-page .popular-courses-contents .popular-courses .add-btn {
        position: absolute;
        top: 50%;
        right: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .second-page .popular-courses-contents .popular-courses .add-btn i {
        color: var(--button-color);
        font-size: 4rem;
      }
      .second-page .popular-courses-contents .popular-courses .add-btn i:hover {
        scale: 1.2;
        cursor: pointer;
      }
      .second-page .popular-courses-contents .popular-courses .add-btn p {
        font-size: 1rem;
        font-weight: 600;
        color: #868686;
      }
      .second-page .popular-courses-contents .popular-courses .button {
        position: absolute;
        top: 88%;
        left: 50%;
        transform: translateX(-50%);
      }
      .second-page .popular-courses-contents .popular-courses .enroll a {
        text-decoration: none;
        color: var(--button-color);
        border: 0.1rem solid var(--button-color);
        padding: 1rem 2rem;
        border-radius: 0.6rem;
        font-weight: 600;
        font-size: 1.5rem;
      }
      .second-page .popular-courses-contents .popular-courses .enroll a:hover {
        background-color: var(--button-color);
        color: white;
        border: none;
      }
      .second-page .popular-courses-contents .popular-courses .buy a {
        text-decoration: none;
        color: white;
        background-color: var(--button-color);
        padding: 1rem 2.8rem;
        border-radius: 0.6rem;
        font-weight: 600;
        font-size: 1.5rem;
      }
      .second-page .popular-courses-contents .popular-courses .buy a:hover {
        background-color: var(--primary-color);
      }
      .second-page .popular-courses-contents .popular-courses .viewmoreinfo {
        position: absolute;
        bottom: -7%;
        left: 50%;
        transform: translateX(-50%);
      }
      .second-page .popular-courses-contents .popular-courses .viewmoreinfo a {
        color: var(--button-color);
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
      }
      .second-page
        .popular-courses-contents
        .popular-courses
        .viewmoreinfo
        a:hover {
        color: red;
      }
      .second-page
        .popular-courses-contents
        .popular-courses
        .viewmoreinfo
        a::after {
        content: "";
        display: block;
        position: absolute;
        height: 0.01rem;
        width: 100%;
        background-color: rgb(12, 131, 146);
        left: 0;
        bottom: 13%;
      }
      .forth-page {
        /* height: 90vh; */
        background-color: white;
        padding: 4% 8%;
      }
      .forth-page .courses-heading h1 {
        color: var(--primary-color);
        font-stretch: condensed;
        font-size: 4rem;
      }
      .forth-page .description {
        margin: 2% 0;
        display: flex;
        /* grid-template-columns: 3fr 1fr; */
        justify-content: space-between;
        align-items: center;
      }
      .forth-page .description p {
        color: #868686;
        font-size: 2.2rem;
        width: 70%;
      }
      .forth-page .description a {
        display: inline-block;
        text-decoration: none;
        background: var(--button-color);
        padding: 1rem 3.5rem;
        color: #ffffff;
        font-size: 2.4rem;
        height: fit-content;
        text-wrap: nowrap;
        font-weight: 600;
        margin-right: 3%;
        border-radius: 0.6rem;
      }
      .forth-page .description a:hover {
        background-color: var(--primary-color);
      }
      .forth-page h3 {
        color: var(--button-color);
        font-size: 2.5rem;
      }
      .forth-page .populartutor {
        display: flex;
        justify-content: space-between;
        margin: 2% 0;
        padding: 4%;
      }
      .forth-page .populartutor .tutor {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .forth-page .populartutor .tutor:hover .profile-pic{
        box-shadow: 0 0 3rem rgb(7, 121, 152);
      }
      .forth-page .populartutor .tutor .profile-pic {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 1rem rgb(12, 120, 150);
      }
      .forth-page .populartutor .tutor img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
      .forth-page .populartutor .tutor .about-tutor {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin: 2rem;
        font-size: 1.5rem;
      }
      .forth-page .populartutor .tutor .about-tutor h4 {
        color: #868686;
        font-style: italic;
        font-weight: 600;
        font-size: 1.8rem;
      }
      .forth-page .populartutor .tutor .about-tutor p {
        color: var(--primary-color);
        font-weight: 600;
      }
      .forth-page .populartutor .tutor .about-tutor a {
        color: var(--button-color);
      }
      .forth-page .populartutor .tutor .about-tutor .rating {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--button-color);
      }
      .forth-page .populartutor .tutor .about-tutor .rating i {
        color: gold;
      }
      .forth-page .populartutor .tutor .about-tutor .rating span {
        color: #868686;
        font-style: italic;
        font-size: 1.2rem;
      }
      footer {
        background-color: var(--primary-color);
        /* height: 30v; */
        display: flex;
        flex-direction: column;
        padding: 4% 15% 4% 5%;
        font-size: 1.5rem;
      }
      footer .container {
        display: flex;
        gap: 5%;
      }
      footer .container .col {
        display: flex;
        flex-direction: column;
        gap: 0.9rem;
      }
      footer .container .col a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
      }
      footer .social-medias {
        align-self: end;
        display: flex;
        gap: 15%;
        text-wrap: nowrap;
        width: fit-content;
        color: white;
      }
      footer .social-medias a i {
        text-decoration: none;
        font-size: 2.5rem;
        color: white;
      }
      footer .social-medias a i:hover {
        scale: 1.5;
      }
      footer .social-medias a i.bxl-facebook-square:hover {
        color: rgb(30, 86, 227);
        background-color: white;
      }
      footer .social-medias a i.bxl-twitter:hover {
        color: rgb(71, 113, 219);
        /* background-color: white; */
      }
      footer .social-medias a i.bxl-instagram-alt:hover {
        background: linear-gradient(
          45deg,
          rgb(229, 34, 235),
          rgb(131, 48, 219),
          rgb(211, 27, 199)
        );
        -webkit-background-clip: text;
        color: transparent;
        text-shadow: 0 0 15px rgb(255, 255, 255); /* Light text shadow */
      }

      footer .social-medias a i.bxl-linkedin-square:hover {
        color: rgb(70, 117, 235);
        background-color: white;
      }
      footer .social-medias a i.bxl-youtube:hover {
        color: rgb(227, 30, 30);
        background-color: white;
      }
